/**
 * Der Modulprogrammierer - Magento App Factory AG
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the
 * Der Modulprogrammierer - COMMERCIAL SOFTWARE LICENSE (v1.0) (DMCSL 1.0)
 * that is bundled with this package in the file LICENSE.txt.
 *
 *
 * @category   DerModPro
 * @package    DerModPro_BCP_Swatches
 * @copyright  Copyright (c) 2012 Der Modulprogrammierer - Magento App Factory AG
 * @license    Der Modulprogrammierer - COMMERCIAL SOFTWARE LICENSE (v1.0) (DMCSL 1.0)
 */
 
.bcp-swatches { width: auto; }

.bcp-swatches .swatch { float: left; width: 50px; }

.bcp-swatches .swatch img { cursor: pointer; }

.swatches-clear { clear: both; }

.bcp-swatches-expanded { clear: both; width: 100%; }

.bcp-swatches-expanded .swatch { float: left; width: 170px; height: 145px; border: 2px dashed purple; margin: 7px; padding: 10px; }

.bcp-swatches-expanded .swatch .swatch-info { clear: left; }
.bcp-swatches-expanded .swatch .swatch-image { float: left; width: 60px; margin-right: 10px; }
.bcp-swatches-expanded .swatch .swatch-name { float: left; width: 45%; cursor: pointer; font-weight: bold; }
.bcp-swatches-expanded .swatch .swatch-header { height: 70px; }
.bcp-swatches-expanded .swatch .swatch-price-box { margin:5px 0; }